html {
  width: 100vw;

  @font-face {
    font-family: 'inconsolata-dz';
    src: local('inconsolata-dz'), url('/fonts/ttf-inconsolata-dz.woff') format('woff');
  }

  code, kbd, pre, samp, tt, xmp, listing, plaintext {
    font-family: 'inconsolata-dz';
    font-size: 12pt;
  }

  body {
    font-family: 'Montserrat', sans-serif;
    color: #15151e;
    background-color: #fafafa;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    overflow-x: hidden;

    h1, h2, h3, h4 {
      font-family: 'Comfortaa', sans-serif;
      font-weight: 400;
    }

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2em;
    }

    h3 {
      font-size: 1.6em;
    }

    a {
      color: #2e1eaa;
      text-decoration: none;
    }

    a:hover {
      color: #2e1eaa !important;
      text-decoration: underline;
    }

    header {
      display: flex;
      align-items: center;

      a {
        color: #444;
      }

      h1 {
        display: inline-block;
        margin-right: auto;
      }

      ul.links {
        display: inline-block;
        margin-left: auto;
        text-align: right;
        list-style-type: none;

        li {
          display: inline;
          margin-right: 1em;

          a {
            font-family: 'Comfortaa', sans-serif;
            font-size: 1.3em;
          }
        }
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 1em;

      tr:nth-child(odd) {
        background-color: #f6f6f6;
      }

      tr {
        th {
          font-weight: bold;
          background-color: #fafafa;
          border-bottom: 1px #eee solid;
          padding-bottom: .5em;
        }

        td {
          border-bottom: 1px #eee solid;
          padding: .5em .2em;
        }

        td:first-child {
          min-width: 6em;
        }
      }

      tr:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    div#main {
      .hljs {
        display: block;
        overflow-x: auto;
        padding: 0.5em;
        color: #15151e;
        background-color: #f6f6f6;
        border: 1px #eee solid;
      }

      .hljs-string {
        color: #607a55;
      }

      .hljs-variable,
      .hljs-template-variable,
      .hljs-symbol,
      .hljs-bullet,
      .hljs-section,
      .hljs-addition,
      .hljs-attribute,
      .hljs-link {
        color: #4e3243;
      }

      .hljs-comment,
      .hljs-quote,
      .hljs-meta,
      .hljs-deletion {
        color: #647575;
      }

      .hljs-keyword {
        color: #794d68;
      }

      .hljs-selector-tag,
      .hljs-section,
      .hljs-name,
      .hljs-type,
      .hljs-strong {
        font-weight: bold;
      }

      .hljs-emphasis {
        font-style: italic;
      }

      article {
        a {
          text-decoration: underline;
        }

        h2:first-child {
          margin-top: 0;
        }
      }

      div#docs-container {
        display: flex;

        nav {
          flex-basis: 30%;

          ul:first-child {
            margin-top: 0;
          }

          ul {
            list-style-type: none;
            padding-inline-start: initial;

            li:first-child {
              margin-top: 0;
            }

            li {
              margin: 1em 0;

              a {
                color: #666;
                font-size: 1.1em;
              }
            }
          }
        }

        article {
          flex-basis: 70%;

          ul {
            li {
              margin: .4em;

              p {
                margin: 0;
              }
            }
          }
        }
      }
    }
  }
}
